<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <!-- 5.3.8 -->
    <script crossorigin src="lib/browser.min.js"></script>

    <title>Demo reactjs</title>
</head>
<body>
    <style>
        .mauvang{
            background-color: yellow;
        }
        .maudo{
            background-color: red;
        }
    </style>
    <h1>Test react js</h1>
    <!-- hung ket qua react render -->
    <div id="root">
    </div>
    <hr/>
    <div id="root2"></div>
    <script src="3_props.js" type="text/babel"/>
</body>
</html>